*.iml
.gradle
/gradle/*
/local.properties
/.idea
.DS_Store
build/
captures/
.externalNativeBuild
.gitmodules
Testing/
build.gradle
gradle.properties
gradlew/
gradle.bat
local.properties
*.gradle
shared-build.gradle
*/build.gradle
*/*/libs/
*/*/src/build.gradle
